---
const stats = [
  {
    name: 'Years',
    value: '9',
  },
  {
    name: 'Experts',
    value: '15',
  },
  {
    name: 'Projects',
    value: '122',
  },
  {
    name: 'Awards',
    value: "'9'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nuestra Mision</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Nuestro emprendimiento se enfoca en ofrecer experiencias únicas al crear stickers personalizables que permiten a nuestros clientes expresar su identidad y creatividad de manera auténtica. Creemos que un sticker no solo es una decoración, sino una forma poderosa de comunicación personal. A través de nuestras opciones de personalización, cada cliente puede diseñar su propio estilo, haciendo que cada sticker sea verdaderamente único y representativo de sus gustos e intereses.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Además, nos enorgullece fomentar la colaboración con artistas locales, quienes tienen la oportunidad de mostrar su talento a través de nuestra plataforma. Al trabajar directamente con estos creativos, buscamos apoyar el arte local y ofrecer a nuestros clientes diseños exclusivos que no se encuentran fácilmente en el mercado. Esta alianza con artistas independientes enriquece la variedad de opciones que ofrecemos y fortalece el vínculo entre la comunidad y el emprendimiento.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              En nuestra empresa, creemos que cada sticker cuenta una historia y refleja la personalidad de quien lo lleva. Ya sea para embellecer objetos personales o para hacer una declaración de estilo, nuestros stickers se convierten en una herramienta para compartir ideas, emociones y pasiones. A través de esta experiencia personalizada, buscamos no solo ofrecer un producto, sino una forma de conectar a las personas con su creatividad y con el arte local que hace cada diseño especial.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
