---
/*

*/
const values = [
  [
    {
      ref: '01',
      name: 'Exelencia',
      description:
        'La excelencia es el principio que guía cada aspecto de nuestro emprendimiento. Nos esforzamos por ofrecer productos de la más alta calidad, asegurándonos de que cada sticker no solo cumpla con las expectativas de nuestros clientes, sino que las supere. Buscamos perfeccionar cada detalle, desde el diseño hasta la producción, garantizando que cada creación refleje nuestro compromiso con la excelencia y nuestra pasión por brindar lo mejor en cada experiencia.',
    },
    {
      ref: '02',
      name: 'Inovacion',
      description:
        'La innovación es el motor que impulsa nuestro negocio hacia el futuro. Nos esforzamos por estar siempre a la vanguardia, buscando nuevas formas de personalizar y mejorar nuestros stickers para adaptarnos a las tendencias y gustos de nuestros clientes. Al fomentar la creatividad, tanto dentro de nuestro equipo como en colaboración con artistas locales, generamos constantemente ideas frescas que nos permiten ofrecer productos únicos y sorprendentes en el mercado.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Trabajo en Equipo',
      description:
        'El trabajo en equipo es fundamental para el éxito de nuestro emprendimiento. Creemos que la colaboración entre todos los miembros de nuestro equipo y con los artistas locales nos permite crear productos innovadores y de calidad. Cada integrante aporta su talento y conocimiento, y juntos, como un equipo unido, conseguimos transformar ideas en resultados tangibles. Este enfoque colaborativo no solo mejora nuestro proceso, sino que también crea un ambiente dinámico y enriquecedor para todos.',
    },
    {
      ref: '04',
      name: 'Respeto',
      description:
        'El respeto es un valor fundamental en nuestra empresa, tanto hacia nuestros clientes como hacia los artistas locales con los que trabajamos. Valoramos la diversidad de ideas, opiniones y estilos, y nos aseguramos de que cada interacción se base en la consideración y el entendimiento mutuo. Al fomentar un ambiente de respeto, creamos relaciones de confianza y colaboración, lo que contribuye a una experiencia positiva para todos los involucrados en nuestro emprendimiento.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
